RPC_URL=https://rpc.sapphire.testnets.gno.land:443
CHAIN_ID=sapphire-1
PKG=gno.land/r/g1mv0052e7r6s09f5t9xsqf00nj3tqsgt9dg52jr/gnomemepad/pad
GNOKEY_NAME=deploykey
SIGNER_ADDR=g1mv0052e7r6s09f5t9xsqf00nj3tqsgt9dg52jr
PORT=5173
# GNOKEY_PASS=  # local only — never commit, not used on Netlify
