# Pearl / Test16 — copy to web/.env.pearl (do not commit secrets)
RPC_URL=https://rpc.pearl.testnets.gno.land:443
CHAIN_ID=pearl-1
PKG=gno.land/r/g1mv0052e7r6s09f5t9xsqf00nj3tqsgt9dg52jr/gnomemepad/padv23
HUB=gno.land/r/g1mv0052e7r6s09f5t9xsqf00nj3tqsgt9dg52jr/gnomemepad/hubv2
PROFILE=gno.land/r/g1mv0052e7r6s09f5t9xsqf00nj3tqsgt9dg52jr/gnomemepad/profile
META=gno.land/r/g1mv0052e7r6s09f5t9xsqf00nj3tqsgt9dg52jr/gnomemepad/meta
POINTS=gno.land/r/g1mv0052e7r6s09f5t9xsqf00nj3tqsgt9dg52jr/gnomemepad/pointsv2
BOND=gno.land/r/g1mv0052e7r6s09f5t9xsqf00nj3tqsgt9dg52jr/gnomemepad/bond
SIGNER_ADDR=g1mv0052e7r6s09f5t9xsqf00nj3tqsgt9dg52jr
API_PORT=8787
PORT=8787
# GNOKEY_NAME=deploykey
# GNOKEY_ADDR=g1mv0052e7r6s09f5t9xsqf00nj3tqsgt9dg52jr
